:root {
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 4rem;
    --size-900: 5rem;

    --clr-accent-400: hsl(260, 100%, 65%);
    --clr-font-400: hsl(0, 0%, 54%);
    --clr-font-900: hsl(0, 0%, 8%);
    --clr-primary-400: hsl(259, 100%, 65%);
    --clr-primary-900: hsl(0, 100%, 67%);
    --clr-neutral-300: hsl(0, 0%, 94%);
    --clr-neutral-400: hsl(0, 0%, 100%);
    --clr-neutral-500: hsl(0, 0%, 86%);
    --clr-neutral-700: hsl(0, 1%, 44%);
    --clr-dark-900: hsl(0, 0%, 8%);


}

@font-face {
    font-family: poppins-bold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-bold-i;
    src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: poppins-extraBold;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins-extraBold-i;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: poppins-i;
    src: url(../assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

body {
    background: var(--clr-neutral-500);
    font-family: 'Poppins', sans-serif;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-neutral-400);
    --max-width: 800px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - var(--padding)*2);
    border-radius: 1rem 1rem 10rem 1rem;
}

.container {
    padding-inline: var(--size-600);
}

.card * {
    display: flex;
    flex-direction: row;
}

.card__form {
    padding: var(--size-500);
}

.card__form * {
    display: flex;
    gap: var(--size-600);
}

.form__inputs * {
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
}

.form__inputs input {
    width: 150px;
    height: 50px;
    border: 1px solid var(--clr-neutral-500)
}

.form__inputs input::placeholder {
    color: var(--clr-neutral-700);
    font-family: poppins-extraBold;
    font-size: var(--size-500);
    outline: transparent;
    padding: var(--size-400);
}

.display-col {
    display: flex;
    flex-direction: column;

}

.fw-bold {
    font-family: poppins-extraBold-i;
    font-size: var(--size-700);
    margin-block: var(--size-200);
    line-height: 1;
}

.card__output span {
    color: var(--clr-accent-400);
}

.form__inputs {
    font-family: poppins-bold;
    color: var(--clr-neutral-700)
}

.divider {
    display: block;
    position: relative;

}

.divider hr {
    background: transparent;
    border: 1px solid var(--clr-neutral-300);
}

.arrow-img {
    position: absolute;
    width: 40px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: var(--size-400);
    background-color: var(--clr-accent-400);
    border-radius: 100vh;

}